<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restautant GEMINA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="static/css/styles.min.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="{{url_for('login')}}" style="color:#b6d781;">Restautant GEMINA </a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1"></div>
    </div>
     <div class="intro">
                <h2 class="text-center">Welcome {{email}} &nbsp;</h2>
                <p class="text-center">menu in cache menu </p>
          
             
    <h2 class="text-center">temps de chargement  {{t}} &nbsp;</h2>
  
   
    </div>
    </nav>
    </div>
   	<hr>
	{% if menus[0] %}
	<div span="right">
	</div>
	<b><big>Menu </big></b>
	 <form method="post" action="/home">

        <table align='center'>
	    <tr id="row">
	    	<th class="type">type</th>
	    	<th class="name">Name</th>
	    	<th class="price">Price</th>
	    	<th class="description">Description</th>
	    
	    </tr>
	{% for menu in menus %}
		<tr  class="datas">
			<td class="type">{{ menu["type"] }}</td>
			<td class="name">{{ menu["name"] }}</td>
			<td class="price">{{ menu["price"] }}</td>
			<td class="description">{{menu["description"] }}</td>
		  
		</tr>
	{% endfor %}
	</table>
	{% else %}
		<h4>No Tasks in the List !!</h4>
	{% endif %}
	<hr/>


        </form>
	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>